POSTGRES_DB=medical_rag
POSTGRES_USER=medical_rag
POSTGRES_PASSWORD=medical_rag
POSTGRES_PORT=5432
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
JOBS_API_PORT=8080
